* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #202020;
}

@font-face {
  font-family: bigCaslon;
  src: url("../font/BigCaslon-Regular.otf");
}

@font-face {
  font-family: Helvetica;
  src: url("../font/Helvetica.ttf");
}

@font-face {
  font-family: Helvetica;
  src: url("../font/Helvetica-Bold.ttf");
  font-weight: bold;
}

.font-1{
  font-family: bigCaslon;
  font-weight: normal;
  font-style: italic;
}

.font-2{
  font-family: Helvetica;
}

.font-light{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.font-regular{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.font-medium{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.font-bold{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

nav {
  width: 100%;
  position: fixed;
  padding: 20px 0;
  transition: all 0.4s ease;
  z-index: 1;
}

nav.sticky {
  padding: 10px 0;
  background: #ff943c;
}

nav .navbar {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .navbar .logo a {
  font-size: 40px;
  font-weight: 500;
  color: #ff943c;
}

nav.sticky .navbar .logo a {
  color: #000;
}

nav .navbar .menu {
  display: flex;
}

nav .navbar .menu li {
  margin: 0 25px;
  list-style: none;
}

nav .navbar .menu li a {
  font-size: 18px;
  font-weight: 500px;
  color: #fff;
  transition: all 0.3s ease;
}

.choose {
  color: #ff943c;
}

nav .navbar .menu li a:hover {
  color: #4070f4;
}

nav.sticky .navbar .menu li a {
  color: #000;
}

.navbar .media-icons a {
  font-size: 18px;
  margin: 0 6px;
  color: #ff943c;
}

nav.sticky .media-icons a {
  color: #000;
}

nav .menu-btn,
.navbar .cancel-btn {
  position: absolute;
  font-size: 30px;
  right: 30px;
  top: 20px;
  display: none;
}

nav .menu-btn {
  color: #ff943c;
}

nav .cancel-btn {
  color: #000;
}

nav.sticky .menu-btn {
  color: #000;
}

/* CSS cho home section */
.home {
  height: 100vh;
  width: 100%;
}

.home .home-content {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #ff943c solid 1px ;
}

.home .text .name {
  border-left: solid #fff 1px;
  padding-left: 40px;
}

.home .text .text-one {
  font-size: 55px;
  color: #fff;
}

.home .text .text-two {
  font-size: 30px;
  color: #fff;
}

.home .button {
  margin: 14px 40px 0;
}

.home .button button {
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 8px 29px;
  border: 2px solid #ff943c;
  border-radius: 25px;
  transition: all 0.4s ease;
  margin-top: 20px;
}

.home .button button:hover {
  color: #000;
  background-color: #ff943c;
  border-color: #ff943c;
  cursor: pointer;
}

.home .avatar {
  width: 580px;
  height: auto;
  overflow: hidden;
}

.home .avatar img {
  object-fit: cover;
  width: 100%;
}

/* About Sect CSS */
section .content {
  width: 80%;
  margin: 40px auto;
}

section .title {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

section .title span {
  font-size: 30px;
  font-weight: 600px;
  /* padding-top: 8px; */
  position: relative;
  color: #fff;
}

section .title span::before,
section .title span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #ff943c;
}

section .title span::after {
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  bottom: -7px;
}

.about {
  margin-top: 100px;
}

.about .content{
  border-bottom: #ff943c solid 1px ;
  padding-bottom: 80px;
}

.about .about-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about .about-details .right {
  width: 45%;
}

.about .about-details .right img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
}

.about .about-details .left {
  width: 45%;
}

section .left .topic {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
  color:#fff;
}

section .left p{
  color: #fff;
}

.about .about-details .left p {
  text-align: justify;
}

/* Skills Css */

.skills .content {
  padding: 40px 0;
  border-bottom: #ff943c solid 1px ;
}

.skills .skill-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills .skill-details .left {
  width: 50%;
}

.skills .skill-details .left p {
  text-align: justify;
}

.skills .skill-details .boxes {
  width: 40%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  color: #fff;
}

.skills .skill-details .boxes .num{
  color: #ff943c;
}

.skills .skill-details .boxes .box {
  width: calc(100% / 2 - 20px);
  margin-bottom: 20px;
}

.skills .skill-details .boxes .box .topic {
  font-size: 20px;
  font-weight: 500;
}

.skills .skill-details .boxes .box .num {
  font-size: 60px;
  font-weight: 500;
}

/* Project Css */
.projects {
  margin-top: 100px;
}

.projects .content{
  border-bottom: #ff943c solid 1px ;
  padding-bottom: 80px;
}

.projects .boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.projects .boxes .box {
  width: calc(100% / 3 - 20px);
  height: 250px;
  margin: 20px 0;
  background-color: #4070f4;
  border-radius: 12px;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.projects .boxes .box .overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #ff943cf6;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.projects .boxes .box .overlay .text {
  white-space: nowrap;
  color: #000;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects .boxes .box .overlay .text p{
  font-size: 18px;
  margin-top: 10px;
  font-style: italic;
}

.projects .boxes .box:hover .overlay {
  bottom: 0;
  height: 100%;
}

.projects .boxes .box img {
  object-fit: cover;
  max-width: 100%;
  transition: all 0.4s ease;
}

.projects .boxes .box .topic {
  font-size: 25px;
  position: absolute;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.76);
}

/* Contact Css */
.contact {
  margin-top: 100px;
}
.contact .text {
  text-align: center;
  margin: auto;
  width: 80%;
}

.contact .text .topic {
  font-size: 30px;
  margin-bottom: 20px;
  color: #fff;
}

.contact .text .media-icons i {
  font-size: 30px;
  margin: 0 20px;
  color: #ff943c;
  padding-top: 20px;
}

/* Responsive */

@media (max-width: 1190px) {
  .home {
    height: 50vh;
  }

  .home .avatar {
    width: 300px;
    height: 300px;
  }

  .about .content {
    width: 85%;
  }

  .skills .content {
    width: 90%;
  }

  .projects .content {
    width: 90%;
  }

  .projects .boxes .box {
    width: calc(100% / 2 - 20px);
    height: 250px;
  }
}

@media (max-width: 1090px) {
  .about .about-details {
    flex-direction: column;
  }

  .about .about-details .right {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .about .about-details .left {
    width: 90%;
    margin: 40px 0;
  }
}

@media (max-width: 768px) {
  nav .navbar .menu {
    position: absolute;
    left: -100%;
    top: 0;
    height: 100vh;
    max-width: 400px;
    width: 100%;
    background: #ff943c;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    transition: all 0.5s ease;
  }

  nav .navbar.active .menu {
    left: 0;
  }

  nav .navbar .menu li a {
    display: block;
    margin: 10px 0;
    font-size: 23px;
    color: #000;
  }

  .navbar .media-icons a {
    display: none;
  }

  nav .menu-btn,
  .navbar .cancel-btn {
    display: block;
    cursor: pointer;
  }

  .home {
    height: 50vh;
  }

  .home .home-content{
    padding-top: 80px;
  }

  .home .text .text-one {
    font-size: 65px;
  }
  .home .text .text-two {
    font-size: 35px;
  }

  .home .avatar {
    width: 300px;
    height: auto;
  }

  .about{
    margin-top: 0;
  }

  .skills {
    margin-top: 0;
  }

  .skills .skill-details {
    flex-direction: column;
  }

  .skills .skill-details .left {
    width: 90%;
  }

  .skills .skill-details .boxes {
    width: 90%;
    margin: 40px 0;
  }

  .projects{
    margin-top: 0;
  }

  .projects .boxes .box {
    width: calc(100% / 2 - 20px);
    height: 250px;
  }

  .projects .boxes .box .topic {
    font-size: 25px;
  }

  .contact{
    margin-top: 0;
  }
}

@media (max-width: 540px) {
  .home .text .text-one {
    font-size: 55px;
  }
  .home .text .text-two {
    font-size: 30px;
  }

  .home .avatar {
    display: none;
  }

  .about {
    margin-top: 0;
  }

  .projects .boxes .box {
    width: 100%;
    height: 200px;
  }

  .projects .boxes .box .topic {
    font-size: 20px;
  }
}
